@import "just-the-class";

:root {
  --primary-color: #b45309;
  --secondary-color: #f59e0b;
  --accent-color: #fbbf24;
  --body-background-color: #fff7ed;
  --body-text-color: #78350f;
  --sidebar-background-color: #fde68a;
}
